PORT=5000
MONGO_URI=mongodb+srv://infowevx_db_user:SDVs4fYkVGPgfsJM@cluster0.dywjfdu.mongodb.net/?appName=Cluster0
JWT_SECRET=doctorlist_super_secret_key_2024
JWT_EXPIRES_IN=7d
NODE_ENV=development



CLOUDINARY_CLOUD_NAME=dg75ae07n
CLOUDINARY_API_KEY=162265271627833
CLOUDINARY_API_SECRET=Jvmr3R22mkw87Kqb0sZu0yE7XIU
CLOUDINARY_URL=cloudinary://162265271627833:Jvmr3R22mkw87Kqb0sZu0yE7XIU@dg75ae07n
